n8n_workflows/standup-pre-fetch.json
{
  "name": "standup-pre-fetch",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "45 8 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0fb1e40b-a025-4318-84d6-dbbc86d0980c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $vars.BACKEND_URL }}/api/context/prefetch",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "project_id",
              "value": "financeflow-id"
            },
            {
              "name": "cycle_id",
              "value": "sprint-7-id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{ $vars.AGENT_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "c6ba5d1e-4ff4-4a41-8c45-b6febad71b4e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "1b0ebe76-87d1-46fa-8218-29b2ea81d8cb",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.standup_context (sprint_id, participant_id, commits, blockers, last_summary, compiled_at)\nVALUES ($1, $2, $3::jsonb, $4::jsonb, $5, $6)\nON CONFLICT (sprint_id, participant_id) \nDO UPDATE SET \n  commits = EXCLUDED.commits,\n  blockers = EXCLUDED.blockers,\n  last_summary = EXCLUDED.last_summary,\n  compiled_at = EXCLUDED.compiled_at;",
        "options": {
          "queryReplacement": "={{ $json.sprint_id }} {{ $json.participant_id }} {{ JSON.stringify($json.commits) }}  {{ JSON.stringify($json.blockers) }} {{ $json.last_summary }} {{ $json.compiled_at }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        0
      ],
      "id": "51a9e403-7ce8-4fae-a86a-bbad0da42e95",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "FRriiDQYpZjqQzHZ",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "98a1efd5-b835-4e2b-adc5-dee3440e36f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a6210ed76df60ce4d0077186bc8260479e5ef362a2c0f358d5e3ccbf249ed35"
  },
  "id": "CNJdSUyfscis7L8t",
  "tags": []
}