n8n_workflows/standup-pre-fetch-optimized.json
{
  "name": "standup-pre-fetch-optimized",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.standup_context (sprint_id, participant_id, commits, blockers, last_summary, compiled_at)\nVALUES ($1, $2, $3::jsonb, $4::jsonb, $5, NOW())\nON CONFLICT (sprint_id, participant_id) \nDO UPDATE SET \n  commits = EXCLUDED.commits,\n  blockers = EXCLUDED.blockers,\n  last_summary = EXCLUDED.last_summary,\n  compiled_at = NOW();",
        "options": {
          "queryReplacement": "={{ [   JSON.parse($json.output).sprint_id,   JSON.parse($json.output).participant_id,   JSON.stringify(JSON.parse($json.output).commits || []),   JSON.stringify(JSON.parse($json.output).blockers || []),   JSON.parse($json.output).last_summary ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        0
      ],
      "id": "f504d97f-ec57-4c10-98ba-656075d145b3",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "FRriiDQYpZjqQzHZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        744,
        224
      ],
      "id": "adb0c7c5-6b21-477f-83ec-210140cdd6da",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "WfnUZiDmzgqNyfIu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You must output ONLY a valid JSON object string. Do not include markdown blocks like ```json in your response.\n\nFill out this exact JSON structure using the data values provided:\n{\n  \"sprint_id\": \"{{ $json.sprint_id }}\",\n  \"participant_id\": \"{{ $json.participant_id }}\",\n  \"commits\": {{ JSON.stringify($json.commits || []) }},\n  \"blockers\": {{ JSON.stringify($json.blockers || []) }},\n  \"last_summary\": \"Write a 2-3 sentence progress summary here based on their commits and blockers.\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "id": "ca63612f-5179-4477-8e0a-d3b3bf5db63b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Access the nested data block from your prefetch response\nconst prefetchData = $input.item.json.data || {};\n\nconst contextRows = prefetchData.context_rows || [];\nconst compiledParticipants = prefetchData.compiled?.participants || [];\n\n// Map each context row into its own separate item for n8n's automatic looping\nreturn contextRows.map(row => {\n  \n  // Cross-reference compiled participants to pull display_name and commit status indicators\n  const participantDetail = compiledParticipants.find(\n    p => p.participant_id === row.participant_id\n  ) || {};\n\n  return {\n    json: {\n      sprint_id: row.sprint_id,\n      participant_id: row.participant_id,\n      display_name: participantDetail.display_name || \"Unknown\",\n      has_recent_commits: participantDetail.has_recent_commits || false,\n      commits: row.commits || [],\n      blockers: row.blockers || [],\n      last_summary: row.last_summary || \"\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "f07f3ed1-3777-4050-8595-51620e66f3a5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.BACKEND_URL }}/api/context/prefetch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{ $vars.AGENT_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"cycle_id\": \"sprint-7\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "c6ba5d1e-4ff4-4a41-8c45-b6febad71b4e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "45 8 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0fb1e40b-a025-4318-84d6-dbbc86d0980c",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "63de4301-b38f-46c2-b1e4-7ae25be83dc2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a6210ed76df60ce4d0077186bc8260479e5ef362a2c0f358d5e3ccbf249ed35"
  },
  "id": "CNJdSUyfscis7L8t",
  "tags": []
}