n8n_workflows/user-story-gen.json
{
  "name": "user-story-gen",
  "nodes": [
    {
      "parameters": {
        "toolDescription": "Use this tool ONLY after the user has explicitly approved the generated user story and acceptance criteria. It creates a new work item issue inside the targeted Plane Cloud project",
        "method": "POST",
        "url": "={{ $vars.BACKEND_URL }}/api/plane/work-item",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{ $vars.AGENT_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": {{ JSON.stringify($fromAI('story_title', 'A short, actionable title for the user story')) }},\n  \"description_html\": {{ JSON.stringify(\n    \"<p>\" + \n    $fromAI('story_body', 'The full text of the user story following the As a... I want... so that... format') + \n    \"</p><br><h3>Acceptance Criteria</h3><p>\" + \n    $fromAI('acceptance_criteria', 'The finalized Given-When-Then criteria bullet points approved by the Scrum Master') + \n    \"</p>\"\n  ) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        368,
        224
      ],
      "id": "f197065a-40b8-45d7-9f38-1d8ef69b14ce",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        192,
        224
      ],
      "id": "360a03a7-2cf9-4886-a127-ded4ee9d2f77",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -16,
        224
      ],
      "id": "02eae1fd-09a9-4975-8405-36266075428e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WfnUZiDmzgqNyfIu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        -112
      ],
      "id": "5245be32-68f4-485b-b2da-b5835bb784af",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -176,
        -112
      ],
      "id": "d517acae-7cb1-43b8-8caa-93fdde162662",
      "name": "When chat message received",
      "webhookId": "6514220b-600e-428b-9771-1b6f32a08521"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3ed05e67-1eec-4023-875f-4312c7974bc3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a6210ed76df60ce4d0077186bc8260479e5ef362a2c0f358d5e3ccbf249ed35"
  },
  "id": "YXhViGagwaR2JS58",
  "tags": []
}